body {
	background-color: #f2e6fc;
	font-family: sans-serif, arial, times new roman;
}
.nav {
	box-sizing: border-box;
	background-color: #450f74;
	width: 90%;
	height: 40%;
	max-width: 1280px;
	min-height: 30%;
	margin: 0 auto;
	margin-top: 20px;
}
.img_logo {
	width: 15%;
	margin-left: 1.5%;
}
.img_nl{
	width: 60%;
	margin-left: 1%;
	margin-bottom: 2.5%;
}
.img_dl {
	width: 15%;
	margin-left: 1%;
	margin-right: 1.5%;
}
.header {
	box-sizing: border-box;
	background-color: transparent;
	width: 90%;
	padding: 5px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 80%;
}
.header_h1 {
	font-weight: bold;
	margin-left: 0 auto;
	text-align: center;
}
.article {
	background-color: transparent;
	box-sizing: border-box;
	width: 90%;
	margin: 0 auto;
	font-size: 100%;
   }
.sala_id {
	margin: 0 auto;
	text-align: center;
	font-weight: bolder;

}   
.sala_id_form {
	margin: 0 auto;
	text-align: center; 
	font-weight: bold;
	border: solid 3px #450f74 ;
	margin-left: 1%;
	margin-right: 5%;
}
.sala_clave_form {
	margin: 0 auto;
	margin-left: 1%;
	font-weight: bold;
	text-align: center; 
	border: solid 3px #450f74 ;
}

@media screen and (max-width: 720px){
	.img_logo {
	width: 15%;
	margin-left: 1.5%;
}
.img_nl{
	width: 60%;
	margin-left: 1%;
	margin-bottom: 2.5%;
}
.img_dl {
	width: 15%;
	margin-left: 1%;
	margin-right: 1.5%;
}
@media screen and (max-width: 720px){
	.header {
		font-size: 70%;
		margin-left: 0 auto;
	}
}
@media screen and (max-width: 720px){
	.article {
		font-size: 60%;
	}
}
@media screen and (max-width: 480px){
.sala_id {
	margin: 0 auto;
	text-align: center;
	font-weight: bolder;

}   
.sala_id_form {
	margin: 0 auto;
	text-align: center; 
	font-weight: bold;
	border: solid 2px #450f74 ;
	margin-left: 1%;
	margin-right: 3%;
}
.sala_clave_form {
	margin: 0 auto;
	margin-left: 1%;
	font-weight: bold;
	text-align: center; 
	border: solid 2px #450f74 ;
}
	}
}
